%link{:type => "text/css", :rel => "stylesheet", :href => "css/main.css"}
<center>
%img{:src => "img/logo.jpg", :class => "logo"}
%div{:hidden => locals[:no_password_login]}
  %h2 Password login:
  %form{:username => "username", :password => "password", :action => "#{locals[:host]}/login/exec", :method => "post"}
    %fieldset
      %label{:for => "username"} Username:
      %input{:type => "text", :name => "username", :class => "text"}
      %br
      %label{:for => "password"} Password:
      %input{:type => "password", :name => "password", :class => "text"}
      %br
      %br
      %input{:type => "submit", :value => "Login", :class => "button"}
%div{:hidden => locals[:login_options].empty?}
  %hr
  - if locals[:no_password_login]
    %h2 Please choose your preferred login option:
  - else
    %h2 Other login options:
%div{:class => "idplist", :hidden => locals[:login_options].empty?}
  %br
  - (locals[:login_options]).each do |opt|
    %a{:href => opt[:url], :class => "button"}
      %img{:src => "#{opt[:logo]}", :hidden => opt[:logo].nil?}
      %span{:hidden => !opt[:logo].nil? } #{opt[:desc]}
    %br
</center>
